.footer {
  background-color: $color-light-background;

  &__content-wrapper {
    width: 99%;
    margin: 0 auto;

    &--nav-subdiv {
      width: 20%;
      height: 14rem;
      margin-left: 10%;
      display: inline-block;
      box-shadow: .2rem .2rem .8rem #545454;
      padding: 3px;

      & h3 {
        color: #007bff;
      }
    }
  }
}

.footer-hr {
  visibility: hidden;
  display: none;
}

.site-footer {
  margin: 15px auto 0;
  width: 80%;
  color: #202020;
  font-size: .9rem;
  text-align: center;
}

