<!-- @ng-bootstrap/ng-bootsrap with mosh -->
<nav
  class="navbar navbar-expand-md navbar-light bg-light fixed-top" >

        <a class="navbar-brand" (click)="goToHomePage()">
          <img class="logo-img animated bounce delay-2s" src="../../assets/2017/family_shield.jpg" alt="">
          <span class="logo-text-wrapper animated fadeInDown delay-1s">{{ title | uppercase }}</span>
        </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto nav-link-wrapper">

      <li ngbDropdown class="nav-item-dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownRU" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          REUNIONS
        </a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdownRU">
          <a class="dropdown-item" routerLink="/new-reunion">New Reunion</a>
          <a class="dropdown-item" routerLink="/past-reunion">Past Reunion</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item-dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownGI" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">GENERAL INFO</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownGI">
          <a class="dropdown-item" routerLink="/family-committees">COMMITTEE</a>
          <a class="dropdown-item" routerLink="/family-businesses">BUSINESS</a>
        </div>
      </li>
      <li class="nav-item"><a routerLink="/contact-us" class="nav-link">CONTACT</a></li>
      <li class="nav-item"><a routerLink="/signup" class="nav-link">SIGN UP</a></li>
      <!--ng-template #anonymousUser-->
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" routerLink="/signin"><i class="far fa-user-circle"></i></a>
        </li>
      <!--/ng-template-->
      <!--li *ngIf="adminService.user$ | async as user; else anonymousUser" ngbDropdown class="nav-item dropdown"-->
      <li ngbDropdown class="nav-item dropdown" *ngIf="user">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownUserProf" data-toggle="dropdownUserProf" aria-haspopup="true" aria-expanded="false">{{ user.displayName }}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownUserProf">
          <a class="dropdown-item">Profile</a>
          <a class="dropdown-item">Notifications</a>
          <a class="dropdown-item">Setting</a>
          <a class="dropdown-item">Accounts</a>
          <a class="dropdown-item" (click)="onLogout()">Logout </a>
        </div>
      </li>
    </ul>
  </div>

</nav>



