<div class="row">
  <div class="page-header">
    <div class="logo" >
      <i class="fas fa-shield-alt fa-9x"></i>
    </div>

    <div class="site-name" >
      <h1> {{ title }} </h1>
    </div>

    <div class="page-header-cta">
      <span style="color: #169256; font-weight: bold;">San Francisco Area</span><br>
      <span>AUGUST 9 - 12, 2018</span><br>
      <span><a [routerLink]="['/new-reunion']">Learn More...</a></span>
    </div>

  </div>

</div>

<div class="container-fluid">
  <div class="navbar navbar-default">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 navbar" role="navigation">
      <ul class="nav navbar-nav">
        <li role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a target="_self" rel="noopener"
             [routerLink]="['']">Home</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a target="_self" rel="noopener"
             [routerLink]="['/new-reunion']"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">New Reunion <span class="caret"></span></a>
        </li>
        <li role="presentation"
            routerLinkActive="active" class="dropdown">
          <a target="_self" rel="noopener"
             [routerLink]="['/past-reunions']"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">Past Reunions <span class="caret"></span></a>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </div>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a target="_self" rel="noopener" [routerLink]="['/general-info']">General Info</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a target="_self" rel="noopener" [routerLink]="['/committees']">Committees</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a target="_self" rel="noopener" [routerLink]="['/family-profiles']">Family</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a target="_self" rel="noopener" [routerLink]="['/mind-your-business']">In Business</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a target="_self" rel="noopener" [routerLink]="['/contact-us']">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</div>
