<div class="row">
 <div class="page-header">

    <div class="logo" >
      <a [routerLink]="['/']">
        <img src="../../assets/2017/family_shield.jpg" alt="" class="logo-img">
        <!--i class="fas fa-shield-alt fa-9x"></i-->
      </a>
    </div>

    <div class="site-name" >
      <h1> {{ title }} </h1>
    </div>

    <div class="page-header-cta">
      <div class="page-header-cta-content-wrapper">
        <span style="color: #169256; font-weight: bold;">San Francisco Area</span><br>
        <span>AUGUST 9 - 12, 2018</span><br>
        <span><a [routerLink]="['/new-reunion']">Learn More...</a></span>
      </div>
    </div>
   </div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
          <li role="presentation"
              routerLinkActive="active"
              class="dropdown" appDropdown>
            <a target="_self" rel="noopener"
               [routerLink]="['/reunions']"
               class="dropdown-toggle"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">Reunions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/new-reunions']">New Reunion</a></li>
              <li><a [routerLink]="['/past-reunions']">Past Reunion</a></li>
            </ul>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a target="_self" rel="noopener" [routerLink]="['/general-info']">General Info</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a target="_self" rel="noopener" [routerLink]="['/committees']">Committees</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a target="_self" rel="noopener" [routerLink]="['/family-profiles']">Family</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a target="_self" rel="noopener" [routerLink]="['/mind-your-business']">Family Businesses</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a target="_self" rel="noopener" [routerLink]="['/contact-us']">Contact Us</a>
          </li>
        </ul>
        <ul class="login-nav">
          <li role="presentation"
              routerLinkActive="active">
            <a target="_self" rel="noopener" [routerLink]="['/signout']">Logout</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a target="_self" rel="noopener" [routerLink]="['/signin']">Login</a>
          </li>
        </ul>
      </div>
  </div>
</nav>


