<div class="footer">
  <div class="row footer-wrapper">

    <div class="col-sm-4 col-md-4 widget footer-nav-subdiv">
      <h3><a href="https://www.pricedawson.com">Pricedawson.com</a></h3>
      <p>Not gone or forgotten, visit the original Pricedawson.com site.
        Visit <a href="http://www.pricedawson.com">Pricedawson.com</a>
      </p>
      <p>
        <a [routerLink]="['/signup']">Register</a> your family's profile at the NEW Pricedawson.com site.
      </p>
    </div> <hr class="footer-hr">

    <div class="col-sm-4 col-md-4 widget footer-nav-subdiv">
      <h3>San Francisco 2018</h3>
      <p><a [routerLink]="['/new-reunion']">Register</a> for the 2018 reunion now!
    </div><hr class="footer-hr">

    <div class="col-sm-4 col-md-4 widget footer-nav-subdiv">
      <h3>Committee Contact</h3>
      <p>Committee Email: pricedawsonsfbay@yahoo.com;<br><br>
        Virginia "Gale" Thomason<br>
        ph: (707) 648-7264
      </p>
      <p> Arieh Kendall <br>
        ph: (510) 418-3895
      </p>
    </div><hr class="footer-hr">

  </div>
  <div class="site-footer">
    The {{ siteName }} {{ year }} Family Reunion site is a Progressive Web Site, designed using a MEAN Stack.<br>  The site was developed by webmaster / software engineer
    <a href="http://www.marvintdawson.com">Marvin Dawson</a> & webmaster <a href="http://www.cypheredwolf.com">Greg Miles</a>.
  </div>
</div>


