<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-nav col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="col-sm-4 col-md-4 widget footer-nav-subdiv">
          <h3>Pricedawson.com</h3>
          <p>Not gone or forgotten, visit the original Pricedawson.com site.
            Visit <a href="http://www.pricedawson.com">Pricedawson.com</a></p>
        </div><hr class="footer-hr">

        <div class="col-sm-4 col-md-4 widget footer-nav-subdiv">
          <h3>San Francisco 2018</h3>
          <p><a [routerLink]="['/new-reunion']">Register</a> for the 2018 reunion now!
        </div><hr class="footer-hr">

        <div class="col-sm-4 col-md-4 widget footer-nav-subdiv">
          <h3>Contact us</h3>
          <p>Marvin: marvintdawson@gmail.com;<br> ph: (770) 530-2929<br>
            Greg: gmiles@gmail.com;<br> ph: (313) 408-0629</p>
        </div><hr class="footer-hr">
      </div>
      <div class="site-footer">
        The {{ siteName }} {{ year }} Family Reunion site is a Progressive Web Site, designed using a MEAN Stack.<br>  The site was developed by webmaster / software engineer
        <a href="http://www.marvintdawson.com">Marvin Dawson</a> & webmaster <a href="http://www.cypheredwolf.com">Greg Miles</a>.
      </div>
    </div>
  </div>
</div>

