<div class="row">
  <div class="jumbotron-wrapper">
    <img src="../../../assets/2017/san_franciso_skyline_2.jpg" class="jumbotron-img" alt="Las Vegas 2020"/>
  </div>
</div>
<div class="row">
  <div class="main-content-wrapper">
    <section>
      <h3>New Reunion Content</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, facilis, laborum. Atque cumque excepturi libero, magni quod reprehenderit sint veniam voluptates. A animi explicabo hic inventore laborum quo repudiandae vero!</p>
    </section>
  </div>
</div>
