<div class="row">
  <div class="main-content">
    <h2>Register</h2>
    <mat-card>
      <mat-card-content>
        <div class="login-btn-wrapper">
          <button mat-button (click)="onSignUpWithGoogle()" class="btn btn-primary">
            <i class="fab fa-google"></i>Sign Up With Google
          </button>
          <button mat-button (click)="onSignUpWithFacebook()" class="btn btn-primary">
            <i class="fab fa-facebook-f"></i>Sign Up With Facebook
          </button>
        </div>
        <div> OR </div>
    <!-- div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 small-form-wrapper"-->
      <form #signupForm="ngForm" (ngSubmit)="onSignUpWithEmailAndPassword(signupForm)">
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" #email class="form-control" ngModel>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" #password class="form-control" ngModel >
          <br>
          <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>
        </div>
      </form>
    <!-- /div -->

    <div class="col small-form-logo-wrapper">
     <div>
      <img class="small-form-logo-img" src="../../../assets/icon/logo/family_shield.jpg" alt="">
     </div>
    </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
