<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 form-wrapper">
      <form (ngSubmit)="onSignUp(f)" #f="ngForm">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" ngModel >
        <label for="pWord">Password</label>
        <input type="password" id="pWord" name="pWord" class="form-control" ngModel >
        <button type="submit"></button>
      </form>
    </div>
  </div>
</div>
