<div class="container">
  <div class="row">
    <h2>Register</h2>
    <div class="small-form-logo-wrapper">
      <img class="small-form-logo-img" src="../../assets/2017/family_shield.jpg" alt="">
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 small-form-wrapper">
      <form (ngSubmit)="onSignUp()">
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" >
          <label for="pWord">Password</label>
          <input type="password" id="pWord" name="pWord" class="form-control" >
          <br>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
