.login-btn-wrapper {
  align-content: center;
}
.btn {
  align-self: center;
  margin: 0 auto 15px;
  width: 210px;
}
.fab{
  margin-right: 10px;
}
.sign-paragraph-wrapper {
  margin: 200px auto 0;
}
.or-text{
  text-align: center;
  width: 210px;
  margin: 0 auto;
  padding: 5px;
}
