.container{
  width: 100%;
}

.page-header{
  border: none;
  width: 100%;
  height: 115px;
  text-align:left;
  float:left
}

.logo{
  float: left;
  width: 10%;
  margin: 0 0 0 60px;
}

.site-name{
  float: left;
  margin-top:20px;
}

.page-header-cta{
  width: 400px;
  height: 115px;
  float: right;
  text-align:center;
  margin: -40px auto 0;
  background-color: #153a6c;
  height: 175px;
  color:#fff;
}

.nav{
  width: 66%;
  margin: 0 auto 0;
}

.navbar{
  width: 100%;
  min-height: 44px;
  background-color: #000000;
  color: #ffffff;
  margin-left: 0;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  width: 129px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  text-align: center;
}

.footer{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  min-height: 150px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 20px;
}
.footer-nav{
  margin: 0 auto 20px;
  width: 90%;
  min-height: 160px;
  position: relative;
  top: 10px;
}
.footer-nav ul{
  float: left;
  left: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}
.footer-nav ul li{
  float: left;
  height: auto;
  width: auto;
  list-style: none;
  margin-left: 0;
  padding-left: 62px;
}
.footer-nav ul li a{
  font-size: 14px;
  text-decoration: none;
  height: 35px;
  color: #FFF;
}
.footer-nav ul li a:hover{
  text-decoration: underline;
}
.footer-nav ul li a:link,
.footer-nav ul li a:visited,
.footer-nav ul li a:active{
  text-decoration:none;
}
.footer-nav h1, h3, h5{
  color: #ffffff;
}
.footer-nav-subdiv{
  width: 25%;
  margin-left: 115px;
}
.footer-hr{
  visibility: hidden;
  display: none;
}
.site-footer{
  margin: 165px auto 0;
  width: 61%;
  color: #bebebe;
  text-align: center;
}
