  <div class="row footer">
    <div class="footer__content-wrapper">

    <div class="col-sm-4 col-md-4 widget footer__content-wrapper--nav-subdiv">
      <h3><a href="http://www.pricedawson.com">Pricedawson.com</a></h3>
      <p>Not gone or forgotten.
        Visit <a href="http://www.pricedawson.com">Pricedawson.com</a>
      </p>
      <p>
        <a [routerLink]="['/signup']">Register</a> your family's profile at the NEW Pricedawson.org site.
      </p>
    </div> <hr class="footer-hr">

    <div class="col-sm-4 col-md-4 widget footer__content-wrapper--nav-subdiv">
      <h3>Las Vegas 2020</h3>
      <p><a [routerLink]="['/new-reunion']">Register</a> for the 2020 reunion now!
      <p></p>
    </div><hr class="footer-hr">

    <div class="col-sm-4 col-md-4 widget footer__content-wrapper--nav-subdiv">
      <h3>Committee Contact</h3>
      <p>Committee Email: pricedawsonsfbay@yahoo.com;<br><br>
        Virginia "Gale" Thomason<br>
        ph: (707) 648-7264
      </p>
      <p> Arieh Kendall <br>
        ph: (510) 418-3895
      </p>
    </div><hr class="footer-hr">
  </div>

    <div class="site-footer">
      The {{ siteName }} Family Reunion site is a Progressive Web App.
      The site was developed by Web Master / Full Stack Software Engineer
      <a href="http://www.marvintdawson.com">Marvin Dawson</a> & web developer <a href="http://www.cypheredwolf.com">Greg Miles</a>.
    </div>

  </div>



