<div class="jumbotron-wrapper">
  <img src="../../assets/2017/rosie_lampkin.jpg" height="683" width="1024" class="jumbotron-img" />
</div>
<div class="row main-content-wrapper">
  <div class="thumbnail-wrapper">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../../assets/2017/roberta_wilhite_2.jpg" height="336" width="203" class="thumbnail-img"/>
      </a>
      <div class="caption">
        <h3>Roberta Wilhite</h3>
        <p>Rosie's Daughter</p>
        <p><a href="#" class="btn btn-primary" role="button">Roberta's Family</a>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../../assets/2017/garrick_lampkin.jpg" class="thumbnail-img"/>
      </a>
      <div class="caption">
        <h3>Garrick Lampkin</h3>
        <p>Rosie's Son</p>
        <p><a href="#" class="btn btn-primary" role="button">Garrick's Family</a>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../../assets/2017/kiesha_manuel.jpg" class="thumbnail-img"/>
      </a>
      <div class="caption">
        <h3>Keisha Manuel</h3>
        <p>Rosie's Grand daughter</p>
        <p><a href="#" class="btn btn-primary" role="button">Keisha's Family</a>
      </div>
    </div>
  </div>
</div>
