<div class="row">
  <div class="jumbotron-wrapper">
    <img src="../../../assets/imgs/reunions/2017/san_franciso_skyline_2.jpg" class="jumbotron-img"/>
  </div>
</div>
<div class="row">
  <div class="main-content-wrapper">
    <section>
      <div>
        Search: <input type="search" name="biz-search">
      </div>
    </section>
    <section>
      <div>
        <select>
          <option>Accounting</option>
          <option>Banking</option>
          <option>Catering</option>
          <option>Dentistry</option>
          <option>Electrician</option>
        </select>
      </div>
    </section>
  </div>
</div>
