<div class="jumbotron">
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">See More</a></p>
</div>
<h2>Welcome to the NEW {{ siteName }} family reunion site!</h2>
<p>Here you find all things related to the {{ siteName }} family reunions, both past and present.</p>
<h3>What's so new about this site?</h3>
<p>
  It kinds looks like the old site, BIG DEAL, you say.<br><br>
  This new site is built on leading edge technology, ushering the {{ siteName }} reunion site into the 2018 year embracing all things mobile.
</p>
<div>
  Yup! that's right now you can use your phone, your tablet or any PC to stay connected.
  In addition, we connected you to social media sites like:<br><br>
    <ul>
      <li type="none">
        <i class="fab fa-facebook-square"></i> Facebook
      </li>
      <li type="none">
        <i class="fab fa-twitter-square"></i> Twitter
      </li>
      <li type="none">
        <i class="fab fa-paypal"></i> Paypal making payments processing easy.
      </li>
    </ul>
</div>
<p>
  We know we know it's not perfect but we are working on it.<br><br>
  We ask that you be patient with us as we go through this redesign process.
  The design team is open to any new ideas and suggestions you may have to help improve our family site.<br><br>
  Feel free to contact us here: <a [routerLink]="['/contact-us']"> I Got A Idea</a>
</p>
<div>
  <h4>
    But enough about the site let's talk about the {{ title }}!
  </h4>
</div>

<button class="btn btn-primary" (click)="loadNewReunion()">2018 Reunion</button>
