.under-construction{
  margin: 0 auto 0;
  width: 55%;
  background-color: yellow;
  color: black;
  font-weight: bold;
}
.jumbotron-wrapper{
  margin: 0 auto 0;
}
.jumbotron-img{
  width: 100%;
}
.main-content-wrapper {
  width: 75%;
  margin: 0 auto 10px;
  min-height: 505px;
}
@media(max-width: 768px) {
  .main-content-wrapper {
    width: 100%;
  }
  .footer-wrapper{
    width: 100%;
    margin: 0 auto 0;
  }
}
